*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    padding: 20px;
    width: 100%;
    background-color: #add8e6;
}

.navbar{
    justify-content: center;
    display: flex;
    height: 44px;
    width: 100%;
}

.nav-items1{
    display: flex;
    border: black dashed 2px;
    background-color: #daa520;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
    min-width: 240px;
}

.nav-items2{
    display: flex;
    border: black dashed 2px;
    background-color: #daa520;
    align-items: center;
    justify-content: center;
    min-width: 720px;
}

.nav-items3{
    display: flex;
    border: black dashed 2px;
    background-color: #daa520;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    min-width: 240px;
}

ul{
    align-items: center;
    gap: 1em;
    list-style-type: none;
}

.square-container{
    display: flex;
    background-color: #00008b;
    padding: 40px;
    justify-content: center;
}

.rectangle{
    display: flex;
    align-self: center;
    background-color: #ee82ee;
    height: 400px;
    width: 905px;
}