*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    padding: 20px;
    width: 100%;
    background-color: #add8e6;
}

.navbar{
    justify-content: center;
    display: flex;
    height: 44px;
    width: 100%;
}

.nav-items1{
    display: flex;
    border: black dashed 2px;
    background-color: #daa520;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
    min-width: 240px;
}

.nav-items2{
    display: flex;
    border: black dashed 2px;
    background-color: #daa520;
    align-items: center;
    justify-content: center;
    min-width: 720px;
}

.nav-items3{
    display: flex;
    border: black dashed 2px;
    background-color: #daa520;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    min-width: 240px;
}

ul{
    align-items: center;
    gap: 1em;
    list-style-type: none;
}

.rectangle-container{
    display: flex;
    background-color: #00008b;
    padding: 40px;
    justify-content: center;
}

.rectangle{
    display: flex;
    align-self: center;
    background-color: #ee82ee;
    height: 400px;
    width: 56%;
    border: 2px black dashed;
}

.container1{
    display: flex;
    background-color: #ffffff;
    padding: 40px;
    justify-content: center;
}

.square1{
    display: flex;
    align-self: center;
    background-color: #1e90ff;
    height: 480px;
    width: 700px;
    border: 2px black dashed;
}

.square2{
    display: flex;
    align-self: center;
    background-color: #ffc0cb;
    height: 480px;
    width: 460px;
    border: 2px black dashed;
}

.container2{
    display: flex;
    background-color: #d3d3d3;
    padding: 40px;
    justify-content: center;
    flex-direction: row-reverse;
}

.square3{
    display: flex;
    align-self: center;
    background-color: #1e90ff;
    height: 480px;
    width: 700px;
    border: 2px black dashed;
}

.square4{
    display: flex;
    align-self: center;
    background-color: #ffc0cb;
    height: 480px;
    width: 460px;
    border: 2px black dashed;
}

.container3{
    display: flex;
    background-color: #ffffff;
    padding: 40px;
    justify-content: center;
}

.square5{
    display: flex;
    align-self: center;
    background-color: #1e90ff;
    height: 480px;
    width: 700px;
    border: 2px black dashed;
}

.square6{
    display: flex;
    align-self: center;
    background-color: #ffc0cb;
    height: 480px;
    width: 460px;
    border: 2px black dashed;
}

.green-container{
    display: flex;
    background-color: #d3d3d3;
    padding: 40px;
    justify-content: center;
}

.green-square{
    display: flex;
    align-self: center;
    background-color: #228b22;
    height: 860px;
    width: 1160px;
    border: 2px black dashed;
}

.footer-container{
    display: flex;
    background-color: #23272a;
    padding: 40px;
    padding-top: 16px;
    justify-content: center;
}

.left-column{
    height: 560px;
    width: 350px;
    background-color: #f08080;
    border: 2px black dashed;
}

.right-column{
    display: flex;
    height: 560px;
    width: 810px;
    background-color: #20b2aa;
    border: 2px black dashed;
}

#columns{
    border: 2px white dashed;
    width: 100%;
}

.bottom-footer{
    display: flex;
    background-color: #23272a;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    width: 100%;
}

.bottom-footer-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #7fffd4;
    margin-top: 26px;
    height: 78px;
    width: 1160px

}

#Logo{
    border: black 2px dashed;
    background-color: #ffb6c1;
    align-self: center;
    padding: 8px;
}

#Bottone{
    border: black 2px dashed;
    background-color: #ffb6c1;
    align-self: center;
    padding: 8px;
}